	body {
		background-image: url(http://c.dryicons.com/files/graphics_previews/DD-Abstract-Background-40295-Preview.jpg) ;
		font-family: 'merriweather', serif;
	}

	header{
		margin-right: auto;
		margin-left: auto; 
		background-color: blue;
		text-align: center;
		text-decoration: bold;
		color: white;				
	}


	.gems {
		display: inline-block;
		height: 150px;
		


  	}

  	#directions {
  		background: yellow;
  		text-align: center;
  		color: green;
   		margin: 20px;
  		line-height: 2;
  		padding: 10;
  	}

  

  	#g{
  		
  		background: green;
  		width: 30%;
  		padding: 60px;
  		text-align: center;
		text-decoration: bold;
  		
  	}

  	#p{
  		
  		background: pink;
  		width: 30%;
  		height: 80px;
  		margin: 10px;
  		padding: 60px;
  		text-align: center;
		text-decoration: bold;
  	}


	.winsloss{
		background-color: orange; 
		width: 30%;
		height: 130px;
		padding: 60px;
		text-align: center;
		text-decoration: bold;

	}

	.scoreboard{
		display:flex;
	}

